amazon-braket-default-simulator==1.26.4
amazon-braket-schemas==1.24.0
amazon-braket-sdk==1.91.2
cplex==22.1.1.2
matplotlib==3.10.3
networkx==2.8.5
numpy==2.2.6
openpulse==1.0.1
openqasm3==1.0.1
opt_einsum==3.4.0
oqpy==0.3.7
pandas==2.3.3
pasqal-cloud==0.20.2
pulser==1.5.2
pulser-core==1.5.2
pulser-pasqal==0.20.2
pulser-simulation==1.5.2
quera-ahs-utils==0.4.4
qutip==5.1.1

